body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0%;    
    background-color: #d5dde1;
}

.main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    }
.title h1{
    text-align: None;
    color: #333333;
    font-size: 2.6em;
    margin-bottom: 20px;
    
}
.title h3{
    text-align: None;
    text-decoration:underline;
    color: #74e84d;
    font-size: 1.5em;
    margin-bottom: 5px;
}
.info ul{
    list-style: none;
    padding: 0;
    margin: 10px;
    
}
.info li{
    margin-bottom: 5px;
    font-weight:500;
}

section h2{
    color: #74e84d;
    font-size: 1.5em;
    margin-top: 20px;
    text-decoration: Underline;
    padding-bottom: 5px;

}
section p{margin: 10px;
    font-size: 1.2em;
    color: #7a8de2;
    
}
section ul{
    padding-left: 20px;
}
section ul li{
    margin-bottom: 5px;
    font-size: 1.1em;
}
a{
    color: #a9250e;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}